{% extends 'admin/stats-base.html' %}
{% load static %}
{% block d_content %}
  <div class="col-lg-6 mb-lg-0 mb-4">
    <div class="card z-index-2 h-100">
      <div class="card-header pb-0 pt-3 bg-transparent">
        <h6 class="text-capitalize">Ingresos por Mes</h6>
        <p class="text-sm mb-0">
          <i class="fa fa-arrow-up text-success"></i>
          <span class="font-weight-bold">Año</span> 2023 - 2024
        </p>
      </div>
      <div class="card-body p-3">
        <div class="chart">
          <canvas id="chart-line" class="chart-canvas" height="300"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card z-index-2 h-100">
      <div class="card-header pb-0 pt-3 bg-transparent">
        <h6 class="text-capitalize">Ingresos por Día</h6>
        <p class="text-sm mb-0">
          <i class="fa fa-arrow-up text-success"></i>
          <span class="font-weight-bold">Año</span> 2023 - 2024
        </p>
      </div>
      <div class="card-body p-3">
        <div class="chart">
          <canvas id="chart-bar" class="chart-canvas" height="300"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mb-lg-0 mb-4 mt-3">
    <div class="card z-index-2 h-100">
      <div class="card-header pb-0 pt-3 bg-transparent">
        <h6 class="text-capitalize">Ingresos por Método de Pago</h6>
        <p class="text-sm mb-0">
          <i class="fa fa-arrow-up text-success"></i>
          <span class="font-weight-bold">Año</span> 2023 - 2024
        </p>
      </div>
      <div class="card-body p-3">
        <div class="chart">
          <canvas id="chart-cake" class="chart-canvas" height="300"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mt-3">
    <div class="card z-index-2 h-100">
      <div class="card-header pb-0 pt-3 bg-transparent">
        <h6 class="text-capitalize">Ingresos por Producto</h6>
        <p class="text-sm mb-0">
          <i class="fa fa-arrow-up text-success"></i>
          <span class="font-weight-bold">Año</span> 2023 - 2024
        </p>
      </div>
      <div class="card-body p-3">
        <div class="chart">
          <canvas id="chart-product-revenue" class="chart-canvas" height="300"></canvas>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script>
    var ctx1 = document.getElementById('chart-line').getContext('2d')
    
    var gradientStroke1 = ctx1.createLinearGradient(0, 230, 0, 50)
    
    gradientStroke1.addColorStop(1, 'rgba(34, 42, 55, 0.8)')
    gradientStroke1.addColorStop(0.2, 'rgba(34, 42, 55, 0.2)')
    gradientStroke1.addColorStop(0, 'rgba(34, 42, 55, 0)')

    var months_payments = {{ payments_chart_data.months_payments|safe }};
    var money = {{ payments_chart_data.money|safe }};

    new Chart(ctx1, {
      type: 'line',
      data: {
        labels: months_payments,
        datasets: [
          {
            label: 'Ingresos por Mes $',
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: '#00000',
            backgroundColor: gradientStroke1,
            borderWidth: 3,
            fill: true,
            data: money,
            maxBarThickness: 6
          }
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false
          }
        },
        interaction: {
          intersect: false,
          mode: 'index'
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#fbfbfb',
              font: {
                size: 11,
                family: 'Open Sans',
                style: 'normal',
                lineHeight: 2
              }
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#ccc',
              padding: 20,
              font: {
                size: 11,
                family: 'Open Sans',
                style: 'normal',
                lineHeight: 2
              }
            }
          }
        }
      }
    })
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var ctxBar = document.getElementById('chart-bar').getContext('2d');
        
        var days = {{ daily_revenue_data.days|safe }};
        var dailyTotals = {{ daily_revenue_data.totals|safe }};
        var primaryColors = [
            'rgba(255, 99, 132, 0.8)',
            'rgba(54, 162, 235, 0.8)',
            'rgba(255, 206, 86, 0.8)',
            'rgba(75, 192, 192, 0.8)',  // Pastel Blue  // Azul
        ];

        var backgroundColors = dailyTotals.map(function(_, index) {
            return primaryColors[index % primaryColors.length];
        });
    
        var barChart = new Chart(ctxBar, {
            type: 'bar',
            data: {
                labels: days,
                datasets: [{
                    label: 'Ingresos Por Día $',
                    data: dailyTotals,
                    backgroundColor: backgroundColors, // Aplica los colores primarios aquí
                    borderColor: 'rgba(0, 0, 0, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        ticks: {
                            beginAtZero: true
                        }
                    },
                    x: {
                        ticks: {
                            autoSkip: false
                        }
                    }
                }
            }
        });
    }); 
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var ctxCake = document.getElementById('chart-cake').getContext('2d');
        
        // Asegúrate de que los nombres de las variables coincidan con las claves del contexto de Django
        var paymentMethods = {{ payment_methods|safe }};
        var amounts = JSON.parse('{{ amounts|safe }}'); // Convertir a JSON ya que amounts es una lista de Decimals
        
        var cakeChart = new Chart(ctxCake, {
            type: 'pie',
            data: {
                labels: paymentMethods,
                datasets: [{
                    label: 'Ingresos por Método de Pago $',
                    data: amounts,
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                    'rgba(255, 206, 86, 0.8)',
                    'rgba(75, 192, 192, 0.8)',  // Pastel Blue  // Azul
                    ],
                    hoverOffset: 4
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'top',
                    }
                }
            }
        });
    });
</script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var ctxBar = document.getElementById('chart-product-revenue').getContext('2d');
        
        var products = {{ product_names|safe }};
        var revenues = {{ revenues|safe }};
        var primaryColors = [
            'rgba(255, 99, 132, 0.8)',
            'rgba(54, 162, 235, 0.8)',
            'rgba(255, 206, 86, 0.8)',
            'rgba(75, 192, 192, 0.8)',  // Pastel Blue  // Azul
        ];

        var backgroundColors = revenues.map(function(_, index) {
            return primaryColors[index % primaryColors.length];
        });
    
        var barChart = new Chart(ctxBar, {
            type: 'bar',
            data: {
                labels: products,
                datasets: [{
                    label: 'Ingresos Por Producto $',
                    data: revenues,
                    backgroundColor: backgroundColors, // Aplica los colores primarios aquí
                    borderColor: 'rgba(0, 0, 0, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        ticks: {
                            beginAtZero: true
                        }
                    },
                    x: {
                        ticks: {
                            autoSkip: false
                        }
                    }
                }
            }
        });
    }); 
  </script>
{% endblock %}
