{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="false">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm">
          <a class="opacity-5 text-white" href="javascript:;">Páginas</a>
        </li>
        <li class="breadcrumb-item text-sm text-white active" aria-current="page">Dashboard</li>
      </ol>
      {% comment %} <h6 class="font-weight-bolder text-white mb-0">Dashboard</h6> {% endcomment %}
    </nav>
    {% comment %} <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="input-group">
          <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
          <input type="text" class="form-control bg-white" placeholder="Type here..." />
        </div>
      </div> {% endcomment %}
      <ul class="navbar-nav justify-content-end">
        {% if request.user.is_authenticated %}
          {% if request.user.is_superuser %}
            <li class="nav-item d-flex align-items-center">
              <a href="{% url 'admin:logout' %}" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none me-3">Salir</span>
              </a>
            </li>
            <li class="nav-item d-flex align-items-center">
              <a href="{% url 'admin:password_change' %}" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-lock me-sm-1"></i>
                <span class="d-sm-inline d-none">Cambiar Contraseña</span>
              </a>
            </li>
          {% else %}
            <li class="nav-item d-flex align-items-center">
              <a href="{% url 'logout' %}" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none me-3">Logout</span>
              </a>
            </li>
            <li class="nav-item d-flex align-items-center">
              <a href="{% url 'password_change' %}" class="nav-link text-white font-weight-bold px-0"><span class="d-sm-inline d-none">Change Password</span></a>
            </li>
          {% endif %}
        {% else %}
          <li class="nav-item d-flex align-items-center">
            <a href="{% url 'login' %}" class="nav-link text-white font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none">Sign In</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
