body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-welcome h3 {
  margin: 0;
  color: #212529;
  font-size: 18px;
  font-weight: bold;
}

.navbar-welcome p {
  margin: 0;
  color: #666;
  font-size: 14px;
}

.navbar-logout {
  display: flex;
  align-items: center;
}

.logout-link {
  text-decoration: none;
  color: #212529;
  font-size: 15px;
  margin-right: 10px;
}

.orders-container {
  background-color: #212529;
  border-radius: 10px;
  padding: 20px;
  color: white;
  width: 50%;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-top: 25px;
  margin-bottom: 50px;
}

.orders-header {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.orders-header h3{
  color: #fff;
  font-weight: bold;
  font-size: 14;
}

.order {
  background-color: #444;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.order-details {
  margin-top: 10px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.product-name {
  flex-grow: 1;
  margin-right: 10px;
}

.product-quantity {
  flex-basis: 100px;
  margin-right: 180px;
}

.checkmark-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.checkmark-button:hover {
  background-color: #45a049;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
  }

  .orders-container {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .order-item {
    justify-content: space-between;
  }

  .product-quantity {
    flex-basis: auto;
    margin-right: 10px;
  }

  .checkmark-button {
    margin-left: auto;
  }
}

@media (max-width: 576px) {
  .orders-container {
    width: 90%;
    padding: 10px;
  }

  .order-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-name,
  .product-quantity {
    margin-right: 0;
  }

  .checkmark-button {
    padding: 10px 20px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box; /* To prevent the button from extending beyond the screen width */
  }
}
